h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: blue;
}

img{
    width: 200px;

}

h2{
    text-align: center;
    color: blue;
    font-size: 40px;
    text-decoration: underline;
}

video{
    width: 200px;

}

th,tr,td{
    border: 1px solid;
}

body{
    background-color: aquamarine;
    font-size: 25px;
}